/* CSS files add styling rules to your content */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
table, th, td {
  border: 1px solid purple;
}
th , td {
  padding: 10px;
}
table{
  width: 100%;
  
}
thead,tfoot{
  font-family: 'Rock Salt', cursive;
}
tbody{
  background-image: url(./assets/noise.png);
}
tbody tr:nth-child(odd){
  background-color: purple;
}
