/* CSS files add styling rules to your content */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size: 0.8em;

}

table{
  table-layout: auto;
  width: 100%;
  background-image: url(./assets/leopardskin.jpg);
  background-repeat: repeat;
}

table, th, td {
  border: 1px solid #800080;
  border-collapse: collapse;
  
}

th , td {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  border: none;
}

thead,tfoot{
  font-family: 'Rock Salt', cursive;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-transform: uppercase;
  word-spacing: 0.6em;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5));
}

tbody{
  background-image: url(./assets/noise.png);
}

tbody tr:nth-child(odd){
  background-color: #ff33cc;
}

tbody tr:nth-child(even){
  background-color: #e495e4;
}

caption{
  caption-side: bottom;
  font-family: 'Rock Salt', cursive;
  font-style: italic;
  text-align: right;
  font-size: 0.7em;
  text-transform: uppercase;
  padding-top: 1.5em;
  letter-spacing: 0.3em;
}
